[Unit]
Description=Sistema para monitorear primeros 5 procesos por cpu
After=network.target

[Service]
ExecStart=/usr/local/bin/monitor_servicio.sh
Restart=on-failure
User=monitor

[Install]
WantedBy=multi-user.target